* {
    margin: 0;
    padding: 0;
}
.header {
    width: 100%;
    height: 65px;
    background-color: #434847;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo p {
    color: #FFF;
    font-size: 20px;
    margin: 0;
    padding: 0;
}
.menu {
    margin: 0;
}
.menu ul {
    display: flex;
    margin: 0;
}
.menu ul li {
    list-style: none;
}
.menu ul li a {
    color: #FFF;
    text-decoration: none;
    padding: 0 10px;
}
.menu ul li a:hover {
    color: #c3a483;
}
.texto-principal {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 50px 0 0 0;
}
.texto-principal p {
    font-size: 30px;
    font-weight: bold;
}
.texto-secundario {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 50px 0 0 0;
}
.texto-secundario p {
    font-size: 20px;
}
.form-select {
    width: 200px;
}
.formulario {
    width: 100%;
    margin: 50px 0 0 0;
}
.col-3 input {
    width: 100%;
    border-radius: 10px;
    padding: 5px;
    border: 1px solid black;
}
.col-3 select {
    width: 100%;
    border-radius: 10px;
    padding: 5px;
    border: 1px solid black;
}
.btn-enviar {
    margin: 20px 0 0 0;
}
.btn-enviar button {
    width: 100px;
}


@media (max-width: 500px) {

    .table-dark td, .table-dark th, .table-dark thead th {
        border-color: #454d55;
        text-align: center;
    }
    .formulario .col-3 {
        min-width: 50%;
        flex: 1;
        margin: 0 0 15px 0;
    }

}
